# Project ignore files and folders
**/.idea/
**/.DS_Store


# Frontend ignore files and folders
**/node_modules/


# Backend ignore files and folders
backend/nexus/app/files/archive
#backend/nexus/app/files/06-11-23-EagleBacklogTracker.csv

**/__pycache__/
**/venv/
**/.env
**/.env.dev
**/.env.test
**/.env.prod


# Ignore the docker files that have actual environment variables
docker-compose-dev.yml
docker-compose-prod.yml


