/* # ==========================  epc-page  ========================== */
.epc-container {

  width: 100%;
  height: 100%;

  --epc-header-height: 40px;

  /* border: 2px dashed red; */
}

/* # ==========================  epc-grid-home  ========================== */
#epc-grid-home {
  width: 100%;
  /* height: 100%; */
  height: calc(100% - var(--epc-header-height));
}



/* # ==========================  epc-header  ========================== */
.epc-header {
  display: flex;
  position: relative;

  height: var(--epc-header-height);

  /* justify-content: auto; */
  justify-content: center;
  align-items: center;

  /* border: 2px dashed black; */
}

.epc-header>h1 {
  justify-self: center;
  /* text-align: center; */

  /* border: solid 2px lightgreen; */
}