/* :: ==========================  epc-page  ========================== */
.epc-container {

    width: 100%;
    height: 100%;

    font-family: "Berkeley Mono", monospace;

    --epc-header-height: 40px;

    /* border: 2px dashed red; */
}


.epc-header {
    /*display: flex;*/
    position: relative;

    height: var(--epc-header-height);

    justify-content: center;
    align-items: center;

    display: grid;
    /*grid-template-columns: 70vw 20vw;*/
    grid-template-columns: 1fr 1fr;


    /* border: 2px dashed black; */
}


/* :: ==========================  epc-grid-home  ========================== */
#nexus-epc-grid-container {
    /*#epc-grid-home {*/
    width: 100%;
    /*height: 100%;*/
    height: calc(100% - var(--epc-header-height));
}


/* ! ag-grid customization------------------------------------ */
/* # ==========================  ag-grid  ========================== */
.ag-theme-alpine {
    /*--ag-background-color: #b833e1;*/
    --ag-cell-horizontal-padding: 10px;

    --ag-alpine-active-color: #b833e1;
    --ag-row-hover-color: #b833e1;
    --ag-row-hover-column-color: #b833e1;

    /*--ag-grid-size: 4px;*/

    /*--ag-row-height: 10px;*/

    --ag-header-column-separator-display: block;

    --ag-header-column-separator-width: 1px;
    --ag-header-column-separator-color: black;

    --ag-borders: solid 1px;
    --ag-border-radius: 3px;
    --ag-border-color: black;

    font-family: "Berkeley Mono", monospace;

    --ag-foreground-color: var(--fg-base-2);
    --ag-background-color: var(--bg-base-0);
    --ag-header-foreground-color: var(--fg-base-2);
    --ag-header-background-color: var(--bg-base-2);
    --ag-odd-row-background-color: var(--bg-base-1);

    --ag-row-hover-color: var(--bg-base-2);
    --ag-column-hover-color: var(--bg-base-1) !important;

    --ag-header-column-resize-handle-color: rgb(126, 46, 132);

}

.ag-theme-alpine .ag-side-buttons, .ag-theme-alpine-dark .ag-side-buttons {
    /*width: calc(var(--ag-grid-size) * 1);*/
}

/* change the font style of a single UI component */
.ag-theme-alpine .ag-header-cell-label {
    /*font-weight: 700;*/
    /*font-style: oblique;*/
    /*font-size: 10px;*/

    margin: 0;
    padding: 0;
}

.ag-cell-label-container {
    padding: 0;
    margin: 0;
}

.ag-theme-nexus {
    /*--ag-odd-row-background-color: #aaa;*/
    /*--ag-alpine-active-color: #1e2e2e;*/
}

.ag-body-viewport [col-id='country'] {
    /*background-color: #a6e1ec;*/
}

.show-cell {
    background: white;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-bottom: 1px solid lightgrey !important;
}


/*[col-id='community_name'],*/
/*[col-id="section"],*/
/*[col-id='lot_number'],*/
/*[col-id='contract_date'],*/
/*[col-id='product'],*/
/*[col-id='elevation'],*/
/*[col-id='engineer_name'],*/
/*[col-id='engineering_sent'],*/
/*[col-id='engineering_expected'],*/
/*[col-id='engineering_received'],*/
/*[col-id='county'],*/
/*[col-id='permit_expected_submit'],*/
/*[col-id='permit_submitted'],*/
/*[col-id='permit_received'],*/
/*[col-id='notes'] {*/
/*    background-color: #f4f5f6;*/
/*}*/

/*.ag-theme-balham.ag-theme-nexus {*/
/*    !*.ag-theme-balham {*!*/


/*    --ag-font-size: 17px;*/
/*    --ag-font-family: monospace;*/
/*}*/


/*!* # ==========================  row-header-group  ========================== *!*/

/*div[col-id="0_0"].ag-header-group-cell {*/
/*    background-color: lightsalmon;*/
/*}*/

/*div[col-id="1_0_0"].ag-header-group-cell {*/
/*    background-color: lightsalmon;*/
/*}*/

/*div[col-id="1_0"].ag-header-group-cell {*/
/*    !*background-color: lightcyan;*!*/
/*}*/


/*!* # ==========================  row-header  ========================== *!*/

/*div[col-id="column-1"].ag-header-cell,*/
/*div[col-id="column-2"].ag-header-cell,*/
/*div[col-id="column-3"].ag-header-cell {*/
/*    background-color: lightsalmon;*/
/*}*/
