/* ! ag-grid customization------------------------------------ */
/* # ==========================  ag-grid  ========================== */

.ag-theme-balham.ag-theme-nexus {
  --ag-font-family: Inter !important;

  --ag-foreground-color: var(--fg-base-2);
  --ag-background-color: var(--bg-base-0);
  --ag-header-foreground-color: var(--fg-base-2);
  --ag-header-background-color: var(--bg-base-2);
  --ag-odd-row-background-color: var(--bg-base-1);

  --ag-row-hover-color: var(--bg-base-2);
  --ag-column-hover-color: var(--bg-base-1) !important;


  --ag-header-column-resize-handle-color: rgb(126, 46, 132);

  --ag-font-size: 17px;
  --ag-font-family: monospace;
}



/* # ==========================  row-header-group  ========================== */

div[col-id="0_0"].ag-header-group-cell {
  /* background-color: lightsalmon; */
}

div[col-id="1_0"].ag-header-group-cell {
  /* background-color: lightcyan; */
}


/* # ==========================  row-header  ========================== */

div[col-id="column-1"].ag-header-cell,
div[col-id="column-2"].ag-header-cell,
div[col-id="column-3"].ag-header-cell {
  /* background-color: lightsalmon; */
}


/* # ==========================  cell  ========================== */

div[col-id="column-1"].ag-cell,
div[col-id="column-4"].ag-cell {
  /* border-left: solid 2px black; */
}

div[col-id="column-6"].ag-cell {
  /* border-right: solid 2px black; */
}

div[col-id="column-1"].ag-cell,
div[col-id="column-2"].ag-cell,
div[col-id="column-3"].ag-cell {
  /* background-color: rgb(240, 240, 240); */
}

div[col-id="column-1"].ag-cell:hover,
div[col-id="column-2"].ag-cell:hover,
div[col-id="column-3"].ag-cell:hover {
  /* background-color: rgb(192, 38, 38); */
}

div[col-id="column-7"].ag-cell,
div[col-id="column-8"].ag-cell,
div[col-id="column-9"].ag-cell {
  /* background-color: lightsalmon; */
}